.form {
  &--feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    .form__input {
      width: 285px;
    }
  }
}

.form__input {
  display: block;
  width: 275px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 2px;
  border: 1px solid #000;
}

.form__btn {
  width: 285px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 700;
  background-color: rgb(204, 0, 0);
}

.form__submit {
  width: 100%;
  font-size: 19px;
  font-weight: 700;
}
