.modal {
  max-width: 325px;
  
  .title-h3 {
    text-align: center;
  }
  
  p {
    a {
      color: @red-font;
      
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
